:root {
  --white: rgb(209, 205, 205);
}

body {
  background-color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

.containerNav {
  width: 100%;
  height: 70px;
  position: absolute;
}

.logo {
  background-color: #54ca95;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 100%;
  margin: 10px;
}

.logoFName {
  font-size: large;
  font-weight: 900;
}

.logoLName,
.logoFName,
.logo {
  display: inline-block;
}

.feature {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 100px 150px;
  position: absolute;
}

.profession,
#name {
  margin-left: 500px;
}

.profession {
  color: var(--white);
}

.informationOfPerson {
  padding-top: 100px;
}

.detailsOfPerson {
  text-align: left;
  width: 500px;
  padding-left: 500px;
  color: var(--white);
}

.file {
  width: 140px;
  height: 30px;
  border: 2px solid #54ca95;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  margin-left: 500px;
  margin-top: 20px;
  position: absolute;
}

.contact {
  border: 2px solid var(--white);
  width: 140px;
  height: 30px;
  text-align: center;
  margin-left: 750px;
  margin-top: 20px;
  border-radius: 50px;
  padding: 10px 20px;
}

.skillsNav {
  padding-top: 100px;
  margin-left: 30px;
}

.gridContainer {
  display: grid;
}

.gridItem {
  margin-left: 30px;
}
.material-icons {
  color: #54ca95;
}

.headerSkills {
  display: inline;
}

.details {
  width: 500px;
  margin-left: 30px;
  color: var(--white);
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  grid-column: 2;
  grid-row: 1;
}

.features {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-left: 30px;
  position: absolute;
  margin-top: -15px;
}

.peopleInformation {
  width: 400px;
  height: 150px;
  border: 2px solid var(--white);
  text-align: left;
  padding-left: 70px;
  color: var(--white);
  margin-left: 140px;
  display: inline-block;
}

.name {
  color: black;
}

.headerSection {
  margin-left: 30px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.navAdvertisement {
  margin-left: 120px;
}
.clientName {
  width: 100px;
  padding: 30px;
}

.containerFacts {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 30px;
}

.fact {
  width: 250px;
  height: 200px;
  border: 2px solid var(--white);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

.detailsFacts {
  padding: 10px;
}

.detailsStatistics {
  color: var(--white);
  font-size: 50px;
}

.endPage {
  padding-top: 50px;
  color: var(--white);
  font-size: 15px;
}

a {
  color: var(--white);
  text-decoration: none;
  margin: 30px;
}
.final {
  display: inline-block;
  padding-left: 650px;
}
